# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true

[*.csproj]
indent_size = 2

[*.{json,yml}]
indent_size = 2

[*.sh]
end_of_line = lf

# Maybe at some point make all namespace file scoped 
# [*.cs]
# csharp_style_namespace_declarations = file_scoped:warning