@use "/src/styles.variables.scss" as vars;

.no-results-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: vars.$white;

  .no-results-graphic {
    // background-image: url("../../../../assets/images/no-packages-graphic.svg");
    width: 140px;
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 16px;
  }

  .no-results-header {
    font-size: 16px;
    font-weight: 500;
    color: vars.$steel-grey-mid;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .no-results-text {
    font-size: 12px;
    font-weight: 500;
    color: vars.$steel-grey;
    margin-bottom: 16px;
  }

  .fixed-height {
    height: 80px;
  }

  .create-button {
    background-color: vars.$steel-grey;
    margin-bottom: 40px;

    .create-button-text {
      color: vars.$white;
      text-transform: uppercase;
    }

    .add-icon {
      color: vars.$white;
      font-size: 22px;
    }
  }
}
