// Color codes received from Slide UX
$dark-orange: #DB6B30;
$dark-orange-shade: #944820;
$dark-orange-mid: #A85225;
$dark-orange-tint: #BD5C29;
$steel-grey: #5B6770;
$steel-grey-shade: #212629;
$steel-grey-mid: #32393D;
$steel-grey-tint: #424B52;
$orange: #FF9E1B;
$yellow: #FFC600;
$white: #FFF;
$black: #000;
$red: #DB303A;
$plum: #964086;
$purple: #604D89;
$blue: #0079B5;
$green: #00A593;

$neutrals-dark-grey: #A4AAAD;
$neutrals-light-grey: #D7DBDC;
$neutrals-medium-grey: #C1C6C8;
$neutrals-darkest-grey: #8D9599;
$neutrals-not-white: #F0F1F2;
$neutrals-not-white-light: #F7F7F8;

$borderColor: rgb(0 0 0 / 12%);
