@use "/src/styles.variables.scss" as vars;

// 'mat-' prefix allows using below classes as html inputs, e.g. 'mat-yellow' becomes color="yellow"
.mat-dark-orange {
  background-color: vars.$dark-orange !important;
  color: vars.$white !important;
}

.mat-yellow {
  background-color: vars.$yellow !important;
}

.mat-green {
  background-color: vars.$green !important;
  color: vars.$white !important;
}

.mat-red {
  background-color: vars.$red !important;
  color: vars.$white !important;
}

.mat-grey {
  background-color: vars.$neutrals-not-white !important;
}

.mat-dark-grey {
  color: vars.$neutrals-dark-grey;
}

.mat-steel-grey {
  color: vars.$steel-grey;
}

.mat-light-grey {
  color: vars.$neutrals-light-grey;
}

// from $angular/material
html,
body {
  height: 100%;
}

body {
  background-color: vars.$steel-grey-mid;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: vars.$neutrals-not-white;
}

a {
  color: vars.$neutrals-not-white;
}

button {
  text-transform: uppercase;
  border-radius: 8px !important;
  color: vars.$steel-grey-mid;
}

// .mat-button,
// .mat-stroked-button,
// .mat-flat-button {
//   border-radius: 8px !important;
//   color: vars.$neutrals-not-white;
// }

.mat-option {
  color: vars.$neutrals-not-white;
}

.pad-top {
  padding-top: 20px;
}

.pad-bottom {
  padding-bottom: 20px;
}

.pad-right {
  padding-right: 20px;
}

.pad-left {
  padding-left: 20px;
}

.top-border {
  border-top: solid 1px black;
}

.hyperlink-text {
  color: vars.$neutrals-not-white;
  text-decoration: none;
}

mat-card,
mat-mdc-card {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none !important;
  border-radius: 16px !important;
  min-width: 384px;

  mat-card-title,
  mat-mdc-card-title {
    border-bottom: solid 2px vars.$neutrals-light-grey;
    margin: -16px -16px 8px !important;
    padding: 16px 24px;
    line-height: 32px;
    color: vars.$neutrals-not-white;

    .mat-icon {
      line-height: 32px;
    }
  }
}

mat-form-field {
  width: 100%;
}

.mat-snack-bar-container {
  background-color: vars.$red;
  color: vars.$white;
}

mat-tab-group {
  border: solid 1px vars.$borderColor;
  min-height: 400px;

  .mat-tab-label-container {
    background-color: vars.$white;
  }

  mat-tab-body {
    padding: 6px;
  }
}

.mat-select-arrow {
  border: none !important;
  background-image: url("./assets/images/outline_keyboard_arrow_down_black_24dp.png");
  background-position-y: -4px;
  width: 25px !important;
  overflow: visible;
  height: 16px !important;
}

.date {
  font-size: 14px;
  font-style: italic;
}

.small {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
  line-height: 16px;
  color: vars.$neutrals-not-white;
  font-weight: 400 !important;
}

.font-16 {
  font-size: 16px;
  font-weight: 500px;
}

.font-18 {
  font-size: 18px;
  font-weight: 500px;
}

.title-12 {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: vars.$neutrals-not-white;
  font-weight: 500;
}

.title-14 {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: vars.$neutrals-not-white;
  font-weight: 500;
}

.title-16 {
  font-size: 16px;
  text-transform: uppercase;
  color: vars.$neutrals-not-white;
  font-weight: 500;
}

.title-18 {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: vars.$neutrals-not-white;
  font-weight: 500;
}

.title-20 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: vars.$neutrals-not-white;
}

.title-24 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: vars.$neutrals-not-white;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.white-back {
  background-color: vars.$white;
}

.sub-section {
  font-size: 14px;
  font-style: italic;
}

.icon-bar {
  width: 90px;
  height: 100%;
  background-color: vars.$steel-grey;
  float: left;

  i {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: vars.$white;
    font-size: 36px;
  }

  i:hover {
    background-color: vars.$black;
  }

  .active {
    background-color: vars.$dark-orange;
  }

  a {
    color: inherit;
  }
}

.clickable {
  cursor: pointer;
}

.clickable-link {
  cursor: pointer;
  color: vars.$neutrals-not-white;
}

.draggable {
  cursor: move;
}

.drag-handle {
  color: vars.$steel-grey;
  margin-right: 16px;
}

.tab-section {

  .tab-sub-section {
    display: none;

    &.active {
      display: block;
    }
  }

  .tab-title {
    background-color: vars.$steel-grey;
    color: vars.$white;
    padding: 10px 0 10px 10px;
  }
}

.pad-box {
  padding: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.edit-box {
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

// Add "disabled" attribute to any mat-icon to make it grayed out
mat-icon {

  &[disabled] {
    color: vars.$neutrals-light-grey;
  }
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.explain {
  font-size: 14px;
  color: vars.$steel-grey;
  font-style: italic;
}

textarea {
  width: 100%;
  height: 200px;
}

input[type="number"] {
  text-align: right;
}

.error-text {
  color: vars.$red;
  font-weight: bold;
}

.button-block {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;

  >div {
    display: flex;
    gap: 16px;
  }
}

.mat-column-right {
  text-align: right;
  justify-content: flex-end;
}

.mat-column-center {
  text-align: center;
  justify-content: center;
}

.horz-spacer {
  min-height: 30px;
}

.right-table-btn {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.list-filters {
  display: flex;
  align-items: flex-end;

  mat-checkbox {
    padding: 8px;
  }
}

.snackbar-success {
  background-color: vars.$green;
}

.full-width {
  width: 100%;
}

// Standard header for dialogs
h2.mat-dialog-title {
  color: vars.$white;
  background-color: vars.$steel-grey;
  margin: -24px -24px 10px;
  padding: 16px;

  a.close-icon {
    float: right;
    color: vars.$black;
  }
}

.mat-dialog-container .button-block {
  margin-top: 12px;
  margin-bottom: 0;
}

// Add a page bottom buffer so controls are not flush
.container {
  padding-bottom: 40px;
  max-width: 1200px;
}

.mat-paginator-outer-container {
  background-color: vars.$neutrals-not-white;
}

button {

  &[mat-flat-button], &[mat-button] {
    padding: 0 12px;
    line-height: 32px;
    background-color: vars.$neutrals-light-grey;
  }

  &[mat-small] {
    font-size: 12px;
    padding: 4px 8px;
    line-height: normal;
  }

  &.delete-button {
    background-color: vars.$red;
    color: vars.$white !important;
    float: left;
  }

  &.white-button-text {
    color: vars.$white !important;
  }
}

.circle-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: vars.$red;
  text-align: center;
  vertical-align: middle;
  background-clip: padding;
  background-clip: padding-box;
}

.long-text-ellipsis {
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alert {
  background-color: vars.$red;
  color: vars.$white;
  line-height: 2.5em;
  padding: 0.2em 1em;
  margin: 0.5em 0;
  border-radius: 0.4em;

  .mat-icon {
    vertical-align: middle;
  }
}

.search-and-add-wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 24px;

  input {
    width:400px;
    height:24px;
    padding:2px 10px;
  }
}

.table-wrapper {
  border-radius: 16px;
  border: solid 1px rgba(0, 0, 0, 12%);
  /* stylelint-disable-line */
  overflow: hidden;
  position: relative;

  .small-table-header-container {
    position: absolute;
    background-color: vars.$white;
    top: 20px;
    left: 24px;

    .small-table-header {
      color: vars.$steel-grey-mid;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .footer-section {
    background-color: vars.$white;
    height: 52px;
    width: 100%;
  }
}

.main-content {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

// common custom styling for material tables
.mat-table {

  // default: zebra striping
  .mat-row {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: transparent;
    border-bottom-width: 2px;

    &:hover {
      background-color: vars.$neutrals-not-white-light;
    }
  }

  // default: header row contrast
  .mat-header-row {
    background-color: vars.$white;
    border-radius: 4px 4px 0 0;
    border-bottom-width: 2px;

    .mat-header-cell {
      color: vars.$steel-grey;
      font-size: 12px;
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  // optional compact table rendering
  &.mat-table-dense {

    .mat-header-row,
    .mat-row,
    .mat-footer-row {
      min-height: 36px;
    }

    .mat-header-cell,
    .mat-cell,
    .mat-footer-cell {

      &:first-of-type {
        padding-left: 12px;
      }

      &:last-of-type {
        padding-right: 12px;
      }
    }
  }
}

.mat-tooltip {
  font-size: 14px !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgb(0 0 0 / 20%),
    0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  background-color: inherit;
}

.cdk-global-scrollblock {
  top: 0 !important;
}

.mat-simple-snackbar {

  button {
    color: vars.$white;
  }
}

.mat-dialog-container {
  border-radius: 16px !important;

  .mat-dialog-title {
    background-color: vars.$white;
    border-bottom: 2px solid vars.$neutrals-light-grey;
    color: vars.$black;
  }
}

.document-dialog-container .mat-dialog-container {
  padding: 0 !important;
  max-height: 850px;
  overflow: unset;
}

.data-point-title {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

$gradientSeparatorHeight: 4px;

.gradient-separator {
  background: linear-gradient(to left, vars.$yellow, vars.$dark-orange);
  width: 100%;
  height: $gradientSeparatorHeight;
}

::ng-deep .ngx-file-drop__drop-zone {
  /* stylelint-disable-line */
  border: 2px dashed vars.$blue !important;

  ::ng-deep .ngx-file-drop__content {
    /* stylelint-disable-line */
    color: vars.$steel-grey-shade !important;
  }
}

.saving-info-wrapper {

  .saving-container,
  .saved-container,
  .save-error-container {
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  .saving-container {
    color: vars.$blue;
  }

  .saved-container {
    color: vars.$neutrals-darkest-grey;
  }

  .save-error-container {
    color: vars.$red;
  }
}